<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <form action="" method="post">
        <p>
     <label for="username">Логин</label>
     <input type="text" name="username">
 </p>
 <p>
     <label for="password">Пароль</label>
     <input type="password" name="password">
 </p>
         <p>
     {{error}}
 </p>
 <p>
     <input type="submit" value="Войти" name="login">
  <input type="submit" value="Зарегистрироваться" name="registration">
 </p>

 </form>

</body>
</html>