<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <form action="" method="post">
      <p>
    <label for="name">Имя:</label>
    <input type="text" name="name">
     </p>
    
     <p>
    <label for="second_name">Фамилия:</label>
    <input type="text" name="second_name">
     </p>
      
       <p>
      <label for="login">Логин:</label>
      <input type="text" name="login">
       </p>
  <p>
      <label for="password">Пароль:</label>
      <input type="password" name="password">
  </p>
         <p>
     {{error}}
 </p>
  <p>
      <input type="submit" value="Зарегистрироваться">
  </p>
    </form>

</body>
</html>